Header always set X-Content-Type-Options "nosniff"

Header always set Access-Control-Allow-Origin "http://propertyagent.local"
Header always set Access-Control-Allow-Credentials "true"

Header always set Access-Control-Allow-Methods "GET"
Header always append Access-Control-Allow-Methods "POST"
Header always append Access-Control-Allow-Methods "HEAD"
Header always append Access-Control-Allow-Methods "OPTIONS"

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !/Files
RewriteRule ^.*$ ./index.php [L]